* {
	padding: 0;
	margin: 0;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 100%;
	line-height: 1.25;
	color: #FFF;
	box-sizing: border-box;
}

body {
	background: #fb887c;
	color: rgba(0, 0, 0, 0.45);
}


h1 {
	width: 100%;
	font-size: 2em;
	text-align: center;
}

.container {
	margin: 1% auto 0;
	width: 65%;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.task {
	width: 80%;
	height: 100px;
	margin: 0 0 2% 0;
	font-size: 32px;
	color: #fff;
	outline: 0;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid #FFF;
	background: transparent;
}

.add {
	width: 20%;
	height: 100px;
	margin: 0 0 2% 0;
	font-size: 32px;
	color: #26C281;
	outline: 0;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid #FFF;
	background: #fff;
	cursor: pointer;
}

.remove {
    background-color: rgba(0,0,0,.095);
    float: right;
    clear: both;
    width: 30px;
    height: 30px;
    border-style: none;
	text-align: center;
	cursor: pointer;
	outline: 0;
}

.todos {
	width: 50%;
    min-width: 250px;
    max-width: 600px;
    margin: 2% auto;
}

.todos ul {
	list-style: none;
	text-align: left;
	line-height: 35px;
}

.todos ul li {
    margin: 1% 0 0;
    border: 1px solid #FFF;
    padding: 1%;
    height: 37px;
}